<head th:fragment="head">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.min.css"/>
  <link rel="stylesheet" href="/css/application.css"/>
  <script src="/vendor/jquery-3.2.1.min.js"></script>
  <!--[if lt IE 9]>
  <script src="/vendor/html5shiv.min.js"></script>
  <script src="/vendor/respond.min.js"></script>
  <![endif]-->
  <script src="/vendor/URI.min.js"></script>
  <script src="/vendor/vue.js"></script>
</head>
