<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="_shared/head :: head"></head>
    <script src="/vendor/sweetalert.min.js"></script>
    <title>首页</title>
    <link rel="stylesheet" href="/css/business/protect/application.css"/>
    <style>
    </style>
</head>
<body>
<head th:replace="_shared/business/protect/header :: header"></head>
<div th:replace="_shared/business/protect/sidenav :: sidenav"></div>
<div class="container-fluid">
<h2>欢迎登陆图片管理系统</h2>
</div>
<section th:replace="_shared/foot :: foot"></section>
<section th:replace="_shared/business/protect/foot :: foot"></section>
<script src="/vendor/plugins/bootstrap-select.js"></script>
<script>
</script>
</body>
</html>
