<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="_shared/head :: head"></head>
    <script src="/vendor/vuelidate/vuelidate.min.js"></script>
    <script src="/vendor/vuelidate/validators.min.js"></script>
    <title>创建用户</title>
    <link rel="stylesheet" href="/css/business/protect/application.css"/>
    <link rel="stylesheet" href="/vendor/plugins/bootstrap-table/bootstrap-table.min.css"/>
    <style>
        .form-row {
            margin: 0px auto 15px auto;
        }

        .form-group .help-block {
            display: none;
        }

        .form-group .help-block-show {
            display: block;
        }

        .form-group .form-control-feedback {
            pointer-events: all;
            position: absolute;
            right: 0px;
            top: 24px;
        }

        .form-group {
            position: relative;
        }

    </style>
</head>
<body>
<head th:replace="_shared/business/protect/header :: header"></head>
<div th:replace="_shared/business/protect/sidenav :: sidenav"></div>
<div id="app" class="container-fluid">
    <div class="row" style="margin: 10px auto 0px auto;">
        <div class="col-md-2">
        </div>
        <div class="col-md-8" style="padding: 0px 0px;">
            <h3>创建用户</h3>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <form novalidate="true" v-on:submit.prevent="createUser">
                <div class="form-group" v-bind:class="validationClass('name')">
                    <label for="name" class="control-label">名字</label>
                    <input type="text" class="form-control" id="name" placeholder="请输入名字" v-model="user.name"/>
                    <span class="help-block" v-if="!$v.user.name.required"
                          v-bind:class="{'help-block-show':afterValidation}">请输入名字</span>
                </div>
                <div class="form-group" v-bind:class="validationClass('userName')">
                    <label for="userName" class="control-label">用户名</label>
                    <input type="text" class="form-control" id="userName" placeholder="请输入用户名" v-model="user.userName"/>
                    <span class="help-block" v-if="!$v.user.userName.required"
                          v-bind:class="{'help-block-show':afterValidation}">请输入用户名</span>
                </div>
                <div class="form-group" v-bind:class="validationClass('pwd')">
                    <label for="pwd" class="control-label">密码</label>
                    <input v-bind:type="pwdInputType" class="form-control" id="pwd" placeholder="请输入6-20位字母或数字的密码"
                           v-model="user.pwd"/>
                    <span v-if="pwdInputType==='password'" class="glyphicon glyphicon-eye-open form-control-feedback"
                          v-on:click="showOrHidePwd" aria-hidden="true"></span>
                    <span v-else="" class="glyphicon glyphicon-eye-close form-control-feedback" v-on:click="showOrHidePwd"
                          aria-hidden="true"></span>
                    <span class="help-block" v-if="!$v.user.pwd.required"
                          v-bind:class="{'help-block-show':afterValidation}">请输入密码</span>
                </div>
                <button type="submit" class="btn btn-primary" data-loading-text="提交中">提交</button>
            </form>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
<section th:replace="_shared/foot :: foot"></section>
<section th:replace="_shared/business/protect/foot :: foot"></section>
<script src="/vendor/sweetalert.min.js"></script>
<script type="text/javascript">
    /*<![CDATA[*/
    var app = new Vue({
        el: '#app',
        mixins: [vuelidate.validationMixin],
        data: {
            pwdInputType: 'password',
            afterValidation: false,
            user: {
                name: null,
                userName: null,
                pwd: null
            }
        },
        validations: {
            user: {
                name: {
                    required: validators.required
                },
                userName: {
                    required: validators.required
                },
                pwd: {
                    required: validators.required
                }
            }
        },
        computed: {},
        methods: {
            showOrHidePwd: function () {
                if (this.pwdInputType === 'password') {
                    this.pwdInputType = 'text'
                    return true
                }
                if (this.pwdInputType === 'text') {
                    this.pwdInputType = 'password'
                    return true
                }
            },
            validationClass: function (fieldName) {
                const field = this.$v.user[fieldName]
                if (field) {
                    return {
                        'has-error': field.$invalid && this.afterValidation
                    }
                }
            },
            createUser: function () {
                var self = this
                this.afterValidation = true
                if (!this.$v.$invalid) {
                    before();
                    $.ajax({
                        method: 'post',
                        url: '/business/p/users/add',
                        data: $.param(self.user),
                        dataType: 'json',
                        success: function (result) {
                            after();
                            self.afterValidation = false;
                            if (result.code == 201) {
                                swal({
                                    text: result.msg,
                                    button: '确认',
                                    icon: 'success'
                                }).then(function () {
                                    window.location.href = '/business/p/users/list';
                                })
                            } else {
                                swal({
                                    text: result.msg,
                                    button: '确认',
                                    icon: result.icon
                                })
                            }
                        },
                        error: function (res) {
                            after();
                            //console.log(res)
                            resErrorMsg(res)
                        }
                    })
                }
            }
        }
    })

    function before() {
        $('button[type=submit]').button('loading');
    }

    function after() {
        $('button[type=submit]').button('reset');
    }
    function resErrorMsg(res) {
        if (res.status == 403) {
            swal({
                text: '没有权限！',
                button: '确定',
                icon: 'warning'
            })
        }
        if (res.status == 400) {
            swal({
                text: '参数类型不匹配！',
                button: '确定',
                icon: 'warning'
            })
        }
        if (res.status == 500) {
            swal({
                text: '系统错误！',
                button: '确定',
                icon: 'error'
            })
        }
    }
    /*]]>*/
</script>
</body>
</html>
