<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.img.images.mapper.ImageMapper">
    <resultMap id="BaseResultMap" type="com.img.images.model.Image">
        <id column="id" property="id" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="show_image" property="showImage" />
        <result column="file_url" property="fileUrl" />
        <result column="type" property="type" />
        <result column="type_str" property="typeStr" />
        <result column="tag" property="tag" />
        <result column="keys" property="keys" />
        <result column="size" property="size" />
        <result column="width" property="width" />
        <result column="height" property="height" />
        <result column="user_id" property="userId" />
        <result column="download_number" property="downloadNumber" />
        <result column="collection_number" property="collectionNumber" />
    </resultMap>

    <select id="search" parameterType="map" resultMap="BaseResultMap">
        select
        *
        from image
        where 1=1
        <if test="name != null and name != ''">and name like "%"#{name}"%"</if>
        order by update_date desc
        limit #{offset},#{size}
    </select>

    <insert id="save" parameterType="com.img.images.model.Image" useGeneratedKeys="true" keyProperty="id">
      INSERT
      INTO
      `image`
      (
      create_date,
      update_date,
      `name`,
      description,
      show_image,
      file_url,
      `type`,
      type_str,
      `tag`,
      `keys`,
      `size`,
      width,
      height,
      user_id,
      download_number,
      collection_number
      )
      VALUES
      (
      now(),
      now(),
      #{name},
      #{description},
      #{showImage},
      #{fileUrl},
      #{type},
      #{typeStr},
      #{tag},
      #{keys},
      #{size},
      #{width},
      #{height},
      #{userId},
      #{downloadNumber},
      #{collectionNumber}
      )
    </insert>

    <update id="update" parameterType="com.img.images.model.Image">
        UPDATE
        image
        <set>
          <if test="name != null">name=#{name},</if>
            <if test="description != null">description=#{description},</if>
            <if test="showImage != null">show_image=#{showImage},</if>
            <if test="fileUrl != null">file_url=#{fileUrl},</if>
            <if test="type != null">type=#{type},</if>
            <if test="typeStr != null">type_str=#{typeStr},</if>
            <if test="tag != null">tag=#{tag},</if>
            <if test="keys != null">keys=#{keys},</if>
            <if test="size != null">size=#{size},</if>
            <if test="width != null">width=#{width},</if>
            <if test="height != null">height=#{height},</if>
            <if test="userId != null">userId=#{user_id},</if>
            <if test="downloadNumber != null">download_number=#{downloadNumber},</if>
            <if test="collectionNumber != null">collection_number=#{collectionNumber},</if>
            update_date=now()
        </set>
        where id=#{id}
    </update>

    <select id="get" resultMap="BaseResultMap">
      SELECT
      `id`,`name`,`description`,`show_image`,`file_url`,`type`,`width`,`height`,`tag`, `download_number`
      FROM
      image
      where id=#{id}
    </select>

    <delete id="delete" >
        DELETE
        from
        image
        where id=#{id}
    </delete>

    <select id="count" resultType="java.lang.Integer">
        select
        count(*)
        FROM
        image
    </select>

    <select id="findByDownloadNumber" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        image
        order by download_number DESC
        limit 0,4
    </select>
    
    <select id="countImgByUserId" resultType="int">
        SELECT
        count(id)
        FROM
        image
        where user_id=#{id}
    </select>
</mapper>