<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.img.images.mapper.ImageMapper">
    <resultMap id="BaseResultMap" type="com.img.images.model.Image">
        <id column="id" property="id" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="show_image" property="showImage" />
        <result column="file_url" property="fileUrl" />
        <result column="type" property="type" />
        <result column="type_str" property="typeStr" />
        <result column="tag" property="tag" />
        <result column="keys" property="keys" />
        <result column="size" property="size" />
        <result column="width" property="width" />
        <result column="height" property="height" />
        <result column="user_id" property="userId" />
        <result column="download_number" property="downloadNumber" />
        <result column="collection_number" property="collectionNumber" />
        <result column="status" property="status"/>
        <result column="fav_count" property="favCount"/>
        <result column="pattern" property="pattern"/>
    </resultMap>

    <select id="search" parameterType="map" resultMap="BaseResultMap">
        select
        *
        from image
        where 1=1
        <if test="name != null and name != ''">and `name` like "%"#{name}"%"</if>
        <if test="userId != null">and user_id=#{userId}</if>
        order by update_date desc
        limit #{offset},#{size}
    </select>

    <insert id="save" parameterType="com.img.images.model.Image" useGeneratedKeys="true" keyProperty="id">
      INSERT
      INTO
      `image`
      (
      create_date,
      update_date,
      `name`,
      description,
      show_image,
      file_url,
      `type`,
      type_str,
      `tag`,
      `keys`,
      `size`,
      width,
      height,
      user_id,
      download_number,
      collection_number,
      status,
      `pattern`
      )
      VALUES
      (
      now(),
      now(),
      #{name},
      #{description},
      #{showImage},
      #{fileUrl},
      #{type},
      #{typeStr},
      #{tag},
      #{keys},
      #{size},
      #{width},
      #{height},
      #{userId},
      #{downloadNumber},
      #{collectionNumber},
      #{status},
      #{pattern}
      )
    </insert>

    <update id="update" parameterType="com.img.images.model.Image">
        UPDATE
        image
        <set>
          <if test="name != null">`name`=#{name},</if>
            <if test="description != null">description=#{description},</if>
            <if test="showImage != null">show_image=#{showImage},</if>
            <if test="fileUrl != null">file_url=#{fileUrl},</if>
            <if test="type != null">`type`=#{type},</if>
            <if test="typeStr != null">type_str=#{typeStr},</if>
            <if test="tag != null">`tag`=#{tag},</if>
            <if test="keys != null">`keys`=#{keys},</if>
            <if test="size != null">`size`=#{size},</if>
            <if test="width != null">width=#{width},</if>
            <if test="height != null">height=#{height},</if>
            <if test="userId != null">user_id=#{userId},</if>
            <if test="downloadNumber != null">download_number=#{downloadNumber},</if>
            <if test="collectionNumber != null">collection_number=#{collectionNumber},</if>
            <if test="status != null">status=#{status},</if>
            <if test="pattern != null">pattern=#{pattern},</if>
            update_date=now()
        </set>
        where id=#{id}
    </update>

    <select id="get" resultMap="BaseResultMap">
      SELECT
      `id`,`name`,`description`,`show_image`,`file_url`,`type`,`width`,`height`,`tag`,
       `download_number`, `collection_number`, `keys`, `status`, `create_date`, `user_id`, `pattern`
      FROM
      image
      where id=#{id}
    </select>

    <delete id="delete" >
        DELETE
        from
        image
        where id=#{id}
    </delete>

    <select id="count" resultType="java.lang.Integer">
        select
        count(*)
        FROM
        image
    </select>

    <select id="findByDownloadNumber" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        image
        where status=3
        order by download_number DESC
        limit 0,4
    </select>
    
    <select id="countImgByUserId" resultType="int">
        SELECT
        count(id)
        FROM
        image
        where user_id=#{id}
    </select>
    
    <select id="list" parameterType="map" resultMap="BaseResultMap">
        select
        i.*, count(f.id) as fav_count
        from
        image i
        left join
        image_favorite f
        on i.id=f.image_id
        where 1=1 and i.status=3
        <if test="params != null and params != ''">and i.name like "%"#{params}"%"</if>
        <if test="category != null and category != ''">and i.type_str like #{category}"%"</if>
        <if test="tag != null">and i.tag=#{tag}</if>
        <if test="pattern != null">and i.`pattern`=#{pattern}</if>
        group by i.id
        <if test="order == 1" >order by i.create_date desc</if>
        <if test="order == 2" >order by i.download_number desc</if>
        <if test="order == 3" >order by fav_count desc</if>
        limit #{offset},#{size}
    </select>

    <select id="countTotal" resultType="int">
        select
        count(i.id)
        from image i
        where 1=1 and i.status=3
        <if test="params != null and params != ''">and i.name like "%"#{params}"%"</if>
        <if test="category != null and category != ''">and i.type_str like #{category}"%"</if>
        <if test="tag != null">and i.tag=#{tag}</if>
        <if test="pattern != null">and i.`pattern`=#{pattern}</if>
    </select>
    
    <select id="getByTypeStr" resultMap="BaseResultMap">
        SELECT
        *
        FROM
        image
        where type_str=#{typeStr}
    </select>

    <select id="findByKeys" resultMap="BaseResultMap">
         SELECT
        *
        FROM
        image
        where 1=1 and id !=#{id}
        <if test="key != null and key != ''">and `keys` like "%"#{key}"%"</if>
    </select>

    <select id="getPattern" resultType="java.lang.String">
      SELECT
      `name`
      FROM
      `pattern`
      where id=#{id}
    </select>
</mapper>