<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="_shared/head :: head"></head>
    <script src="/vendor/vuelidate/vuelidate.min.js"></script>
    <script src="/vendor/vuelidate/validators.min.js"></script>
    <script src="/vendor/AjaxFileUploader/ajaxfileupload.js"></script>
    <script src="/vendor/AjaxFileUploader/formUtil.js"></script>
    <meta charset="UTF-8"/>
    <title>个人中心</title>
    <link rel="stylesheet" href="/css/front/application.css"/>
    <link rel="stylesheet" href="/vendor/AjaxFileUploader/ajaxfileupload.css"/>
    <link rel="stylesheet" href="/vendor/select2/css/select2.min.css"/>
    <style>

        body {
            padding-top: 60px;
            background: #f6f6f6;
        }

        .container-fluid {
            padding-left: 0px;
            padding-right: 0px;
            min-width: 1200px;
        }

        .user-myself-bg {
            background: url(/images/user-myself-bg.png) no-repeat;
            background-size: cover;
            min-width: 1200px;
            height: 189px;
        }

        .user-myself-bg .user-header {
            height: 189px;
            padding-top: 40px;
        }

        .w1200 {
            width: 1200px;
            margin: 0px auto;
        }

        .clearfix::after {
            display: block;
            height: 0px;
            content: "";
            font-size: 0px;
            visibility: hidden;
            clear: both;
        }

        .user-header .user-box {
            position: relative;
        }

        .user-header .user-img {
            width: 92px;
            height: 92px;
            border: 3px solid rgba(255, 255, 255, .3);
            border-radius: 50%;
            position: relative;
            cursor: pointer;
            overflow: hidden;
        }

        .user-header .user-resume {
            margin-left: 20px;
            padding-top: 16px;
        }

        .user-header .user-resume p {
            font-size: 14px;
            padding-bottom: 4px;
            margin-bottom: 0px;
        }

        .user-header .user-info {
            margin-top: 28px;
        }

        .fl {
            float: left;
        }

        .fr {
            float: right;
        }

        .sidenav-list {
            padding-left: 20px;
            padding-right: 20px;
            margin: 0;
            position: relative;
            list-style: none;
            width: 148px;
        }

        .sidenav-list-item {
            height: auto;
            position: relative;
            z-index: 2;
            margin-bottom: 8px;
        }

        .sidenav-list-item a {
            text-decoration-line: none;
        }

        .sidenav-list-item .glyphicon {

        }

        .sidenav-list-item-content {
            border-radius: 4px;
            width: 108px;
            min-height: 40px;
            padding: 4px 16px;
            transition: padding .4s cubic-bezier(.25, .8, .25, 1);
            will-change: padding;
            color: #888;
        }

        .sidenav-list-item-content:hover {
            background-image: linear-gradient(to right, rgb(34, 244, 138), rgb(16, 197, 91));
            color: #fff;
        }

        .sidenav-list-item-action {
            background-image: linear-gradient(to right, rgb(34, 244, 138), rgb(16, 197, 91));
            color: #fff;
        }

        .sidenav-list-item-text {
            line-height: 32px;
            font-weight: 400;
        }

        .side-col-wrapper {
            height: 100%;
            width: 148px;
            padding-top: 20px;
            position: absolute;
            top: 0px;
            left: 0px;
            background: #f6f6f6;
            z-index: 1;
        }

        .main-div-wrapper {
            width: 100%;
            padding-left: 148px;
            padding-top: 10px;
            height: auto;
            background: #fff;
        }

        .btn-default-myself {
            background: #fff;
            border: 1px solid #fafafa;
        }

        .btn-primary-myself {
            background-image: linear-gradient(to right, rgb(34, 244, 138), rgb(16, 197, 91));
            color: #fff;
            border: 1px solid #fff;
        }

        .btn-primary-myself:hover {
            color: #fff;
        }

        .show-image .file-input {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 140px;
            height: 140px;
            opacity: 0.0;
            cursor: pointer;
        }

        .show-image {
            position: relative;
        }

        .favorite-main .col-md-3 .favorite-list {
            position: relative;
        }

        .favorite-list {
            width: 240px;
            height: 320px;
            overflow: hidden;
            margin: 5px auto;
            padding: 10px 0 0 10px;
        }

        .favorite-add {
            background-color: #f6fff9;
        }

        .favorite-list:hover {
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        }

        .favorite-add .create-btn {
            display: block;
            width: 220px;
            height: 300px;
            text-align: center;
            font-size: 14px;
            color: #a0a4a1;
            border: 1px dashed #10c55b;
            text-decoration: none;
            cursor: pointer;
        }

        .favorite-add .create-btn i {
            display: block;
            margin: 110px auto 16px;
            width: 54px;
            height: 53px;
            background: url(/images/favorite-icon.png) -115px 0 no-repeat;
        }

        .favorite-header .fav-title {
            font-size: 16px;
            color: #666;
            font-weight: 700;
            margin-left: 20px;
        }

        .favorite-list .fav-modify {
            position: absolute;
            top: -56px;
            right: 20px;
            z-index: 3;
            background: url(/images/common.png) -113px -54px no-repeat;
            display: block;
            width: 54px;
            height: 54px;
            -webkit-transform: scale(.1);
            -ms-transform: scale(.1);
            transform: scale(.1);
            -webkit-transition: -webkit-transform .25s;
            transition: -webkit-transform .25s;
            transition: transform .25s;
            transition: transform .25s, -webkit-transform .25s;
        }

        .favorite-list:hover .fav-modify {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 3;
            background: url(/images/common.png) -113px -54px no-repeat;
            display: block;
            width: 54px;
            height: 54px;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -webkit-transition: -webkit-transform .25s;
            transition: -webkit-transform .25s;
            transition: transform .25s;
            transition: transform .25s, -webkit-transform .25s;
        }

        a {
            color: #666;
            text-decoration: none;
            cursor: pointer;
        }

        .favorite-list .fav-modify:hover {
            background: url(/images/common.png) -113px -110px no-repeat;
        }

        .favorite-list .fav-box {
            position: relative;
            display: block;
        }

        .favorite-list .box-cover-ckg {
            margin-bottom: 10px;
        }

        .favorite-list .box-cover {
            margin-right: 5px;
        }

        .favorite-list .box-title {
            width: 220px;
            height: 70px;
            position: absolute;
            top: 0;
            left: 0;
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .25)), to(transparent));
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, .25), transparent);
            background: linear-gradient(to bottom, rgba(0, 0, 0, .25), transparent);
            padding: 12px;
            line-height: 1.6;
        }

        .favorite-list .box-title em {
            color: #fff;
            font-size: 12px;
        }

        .favorite-list .box-title strong {
            font-size: 18px;
            color: #fff;
            font-weight: 700;
        }

        .form-group .help-block {
            display: none;
        }

        .form-group .help-block-show {
            display: block;
        }

        .form-group .form-control-feedback {
            pointer-events: all;
            position: absolute;
            right: 0px;
            top: 24px;
        }

        .form-group {
            position: relative;
        }

        .row-main .show-image {
            position: relative;
        }

        .row-main .show-image .file-input {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 140px;
            height: 140px;
            opacity: 0.0;
            cursor: pointer;
        }

        .row-main .file-div {
            position: absolute;
            top: 60px;
            right: 80px;
        }

        .row-main .show-image .file-input1 {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 35px;
            height: 35px;
            opacity: 0.0;
            cursor: pointer;
        }

        .row-main .show-image .glyphicon {
            font-size: xx-large;
            cursor: pointer;
        }
    </style>
</head>
<body>
<head th:replace="_shared/front/header :: header"></head>
<div id="app" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="user-myself-bg">
                <div class="w1200 user-header clearfix">
                    <div class="user-box fl">
                        <div class="user-img">
                            <img width="86" height="86" v-bind:src="'/file/show?path='+user.header"/>
                        </div>
                    </div>
                    <div class="user-resume fl"><p class="user-id" th:text="@{'登录名：' + ${loginUser.userName}}"></p>
                        <p class="user-name" v-html="'昵称：' + user.name"><span class="vip-info"></span></p>
                        <p><span th:text="@{'注册于：' + ${#dates.format(loginUser.createDate, 'yyyy/MM/dd')}}"></span></p>
                    </div>
                    <div class="user-info fr">
                        <p><span>收藏</span><em th:text="${countFav}">1</em></p>
                        <p><span>作品</span><em th:text="${countImg}">0</em></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="position: relative">
        <div class="col-md-4 side-col-wrapper">
            <ul class="sidenav-list">
                <li class="sidenav-list-item" v-on:click="clickType(1)">
                    <a href="#">
                        <div v-bind:class="getLiType(1)" class="sidenav-list-item-content">
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="sidenav-list-item-text">个人中心</span>
                        </div>
                    </a>
                </li>
                <li class="sidenav-list-item" v-on:click="clickType(2)">
                    <a href="#">
                        <div v-bind:class="getLiType(2)" class="sidenav-list-item-content">
                            <span class="glyphicon glyphicon-upload"></span>
                            <span class="sidenav-list-item-text">我的上传</span>
                        </div>
                    </a>
                </li>
                <li class="sidenav-list-item" v-on:click="clickType(3)">
                    <a href="#">
                        <div v-bind:class="getLiType(3)" class="sidenav-list-item-content">
                            <span class="glyphicon glyphicon-folder-close"></span>
                            <span class="sidenav-list-item-text">我的收藏</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-8 main-div-wrapper">
            <div v-if="liType===1">
                <form style="margin:10px;width:300px;">
                    <div class="form-group">
                        <label for="name" class="control-label">昵称*</label>
                        <input type="text" class="form-control" id="name" placeholder="昵称" name="name"
                               v-model="user.name"/>
                    </div>
                    <div class="form-group">
                        <label for="pwd" class="control-label">密码*</label>
                        <input type="password" class="form-control" id="pwd" placeholder="密码" name="pwd"
                               v-model="user.pwd"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">头像图片*</label>
                        <div class="show-image">
                            <a v-bind:href="'/file/show?path='+user.header" target="_blank">
                                <img v-bind:src="'/file/show?path='+user.header" alt=""
                                     style="width:140px;height:140px;background: #ddd;" class="img-thumbnail"/>
                            </a>
                            <input type="file" name="file" class="file-input" id="inputFileId"
                                   onchange="headerFileUpload()"/>
                        </div>
                    </div>
                    <button type="button" v-on:click="updateUser" class="btn btn-primary-myself" id="submitId" data-loading-text="保存中">保存</button>
                </form>
            </div>
            <div v-if="liType===2">
                <button type="button" class="btn btn-primary btn-sm" v-on:click="addImage">我要上传</button>
                <table class="table table-hover" style="width:80%;">
                    <thead>
                    <th>名称</th>
                    <th>预览图</th>
                    <th>状态</th>
                    <th class="text-center">操作</th>
                    </thead>
                    <tbody>
                    <tr v-for="image in images">
                        <td v-html="image.name"></td>
                        <td>
                            <a v-bind:href="'/file/show?path='+image.showImage" target="_blank">
                                <img v-bind:src="'/file/show?path='+image.showImage" style="width:28px;height:32px;"/>
                            </a>
                        </td>
                        <td v-html="getStatus(image)">
                        </td>
                        <td class="text-center">
                                <a v-if="image.status==1 || image.status==5" class="btn btn-link" href="#" v-on:click="updateImage(image.id)">编辑</a>
                                <a class="btn btn-link" href="#" v-on:click="delImage(image.id)">删除</a>
                                <a v-if="image.status==1 || image.status==5" class="btn btn-link" href="#" v-on:click="submitImage(image.id)">提交</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous" v-on:click="getImages(page-1,size,name)">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li v-for="p in pages" v-bind:class="{'active': p==page}">
                            <a href="#" v-on:click="getImages(p,size,name)" v-html="p"></a>
                        </li>
                        <li>
                            <a href="#" aria-label="Next"
                               v-on:click="getImages(page+1&gt;pages.length?pages.length:page+1,size,name)">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div v-if="liType===3">
                <div class="row">
                    <div class="col-md-12 favorite-header">
                        <a href="#" class="fav-title">
                            我的收藏夹
                            <em v-html="'('+favCount+')'"></em>
                        </a>
                    </div>
                </div>
                <div class="row favorite-main">
                    <div class="col-md-3">
                        <div class="favorite-list favorite-add">
                            <a class="create-btn" href="#" v-on:click="createFavorite">
                                <i></i>
                                创建收藏夹
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3" v-for="fav in favorites">
                        <div class="favorite-list">
                            <a href="#" class="fav-modify" v-on:click="updateFavorite(fav)"></a>
                            <a v-bind:href="'/front/p/favorites/'+fav.id" class="fav-box" target="_blank">
                                <span class="fl box-cover-ckg">
                                    <img v-bind:src="'/file/show?path='+fav.url" width="220px" height="300px"/>
                                </span>
                                <!-- <span class="fl box-cover">
                                     <img src="/images/common.png" width="70px" height="70px"/>
                                 </span>
                                 <span class="fl box-cover">
                                     <img src="/images/common.png" width="70px" height="70px"/>
                                 </span>
                                 <span class="fl box-cover">
                                     <img src="/images/common.png" width="70px" height="70px"/>
                                 </span>-->
                                <span class="box-title">
                                    <!--<em>ss</em>-->
                                    <br/>
                                    <strong v-html="fav.name"></strong>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-left: 15px;">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous" v-on:click="getFavorites(favPage-1,favSize)">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li v-for="p in favPages" v-bind:class="{'active': p==favPage}">
                                <a href="#" v-on:click="getFavorites(p,favSize)" v-html="p"></a>
                            </li>
                            <li>
                                <a href="#" aria-label="Next"
                                   v-on:click="getFavorites(favPage+1&gt;favPages.length?favPages.length:favPage+1,favSize)">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="newFavModalId">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">创建收藏夹</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" v-on:submit.present="addFav">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">名称*</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="名称" v-model="favorite.name"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">描述</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" placeholder="描述"
                                          v-model="favorite.description"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">封面图片</label>
                            <div class="show-image col-sm-10">
                                <a v-bind:href="'/file/show?path='+favorite.url" target="_blank">
                                    <img v-bind:src="'/file/show?path='+favorite.url" alt=""
                                         style="width:140px;height:140px;background: #ddd;" class="img-thumbnail"/>
                                </a>
                                <input style="left:15px;" type="file" name="file" class="file-input" id="inputFileId1"
                                       onchange="favoriteFileUpload()"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary-myself">保存</button>
                                <button type="button" class="btn btn-default-myself" data-dismiss="modal">返回</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="newImgModalId">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">上传信息</h4>
            </div>
            <div class="modal-body">
                <div class="row row-main">
                        <div class="col-md-12">
                            <form novalidate="true" v-on:submit.prevent="saveImage">
                                <div class="form-group" v-bind:class="validationClass('showImage')">
                                    <label class="control-label" for="exampleInputAmount">展览图片*</label>
                                    <div class="show-image">
                                        <a v-bind:href="'/file/show?path='+image.showImage" target="_blank">
                                            <img v-bind:src="'/file/show?path='+image.showImage" alt=""
                                                 style="width:140px;height:140px;background: #ddd;" class="img-thumbnail"/>
                                        </a>
                                        <input type="file" name="file" class="file-input" id="inputFileId2" onchange="showImgFileUpload()"/>
                                    </div>
                                    展览图片大小规定560px*640px
                                </div>
                                <div class="form-group file-div" v-bind:class="validationClass('fileUrl')">
                                    <label class="control-label" for="exampleInputAmount">图片*</label>
                                    <div class="show-image">
                                        <span class="glyphicon glyphicon-cloud-upload"></span>
                                        <input type="file" name="file" class="file-input1" id="inputFileId3" onchange="imgFileUpload()"/>
                                    </div>
                                    <span v-if="image.fileUrl">已上传</span>
                                    <span v-if="image.fileUrl == null">未上传</span>
                                </div>
                                <div class="form-group" v-bind:class="validationClass('type')">
                                    <label class="control-label">图片分类*</label>
                                    <select class="form-control" v-model="image.type">
                                        <option value="">请选择</option>
                                        <option v-for="cat in categories" v-bind:value="cat.id" v-html="cat.name"></option>
                                    </select>
                                    <span class="help-block" v-if="!$v.image.type.required"
                                          v-bind:class="{'help-block-show':afterValidation}">请选择分类</span>
                                </div>
                                <div class="form-group" v-bind:class="validationClass('pattern')">
                                    <label class="control-label">图片格式*</label>
                                    <select class="form-control" v-model="image.pattern">
                                        <option value="">请选择</option>
                                        <option v-for="pattern in patterns" v-bind:value="pattern.id" v-html="pattern.name"></option>
                                    </select>
                                    <span class="help-block" v-if="!$v.image.pattern.required"
                                          v-bind:class="{'help-block-show':afterValidation}">请选择格式</span>
                                </div>
                                <div class="form-group" v-bind:class="validationClass('name')">
                                    <label for="name" class="control-label">名称*</label>
                                    <input type="text" class="form-control" id="name" placeholder="请输入名称" v-model="image.name"/>
                                    <span class="help-block" v-if="!$v.image.name.required"
                                          v-bind:class="{'help-block-show':afterValidation}">请输入名称</span>
                                </div>
                                <div class="form-group" v-bind:class="validationClass('description')">
                                    <label for="description" class="control-label">描述</label>
                                    <textarea type="text" class="form-control" id="description" placeholder="描述一下"
                                              v-model="image.description"></textarea>
                                </div>
                                <div class="form-group" v-bind:class="validationClass('tag')">
                                    <label class="control-label">图片类型*</label>
                                    <div>
                                        <label class="radio-inline">
                                            <input type="radio" v-model="image.tag" id="inlineRadio1" value="1"/> 共享
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" v-model="image.tag" id="inlineRadio2" value="2"/> 原创
                                        </label>
                                    </div>
                                    <span class="help-block" v-if="!$v.image.tag.required"
                                          v-bind:class="{'help-block-show':afterValidation}">请选择类型</span>
                                </div>
                                <div class="form-group" v-bind:class="validationClass('width,height')">
                                    <label class="control-label">图片尺寸*</label>
                                    <div class="form-inline">
                                        <input type="text" class="form-control" placeholder="宽" v-model="image.width"/>
                                        px
                                        <input type="text" class="form-control" placeholder="高" v-model="image.height"/>
                                        px
                                    </div>
                                    <span class="help-block" v-if="!$v.image.width.required || !$v.image.height.required"
                                          v-bind:class="{'help-block-show':afterValidation}">请输入宽高</span>
                                </div>
                                <div class="form-group" v-bind:class="validationClass('keys')">
                                    <label class="control-label">标签*：</label>
                                    <select id="keysId" style="width:80%;" class="form-control" multiple="multiple" v-model="addKeys">
                                        <option v-for="k in allKeys" v-bind:value="k.key" v-html="k.key"></option>
                                    </select>
                                    <span class="help-block" v-if="!$v.image.keys.required"
                                          v-bind:class="{'help-block-show':afterValidation}">请设置标签</span>
                                </div>
                                <button type="submit" class="btn btn-primary" data-loading-text="保存中">保存</button>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="_shared/front/modaler :: modaler"></div>
<div th:replace="_shared/front/footer :: footer"></div>
<section th:replace="_shared/foot :: foot"></section>
<script src="/js/front/application.js"></script>
<script src="/vendor/sweetalert.min.js"></script>
<script src="/vendor/select2/js/select2.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    window.loginUser = /*[[${loginUser}]]*/ null
    window.patterns = /*[[${patterns}]]*/ null
    /*window.favorites = /!*[[${favorites}]]*!/ null*/
    /*]]>*/
</script>
<script type="text/javascript">
    /*<![CDATA[*/
    function imgFileUpload(){
        var inputId = "inputFileId3"
        var type = "imgFile"
        app.fileUpload(inputId, type, function (url) {
            imgModal.image.fileUrl = url
        })
    }
    
    function showImgFileUpload() {
        var inputId = "inputFileId2"
        var type = "showImage"
        app.fileUpload(inputId, type, function (url) {
            imgModal.image.showImage = url
        })
    }

    function favoriteFileUpload() {
        var self = app
        var inputId = "inputFileId1"
        var type = "favoriteFile"
        self.fileUpload(inputId, type, function (url) {
            self.favorite.url = url
        })
    }

    function headerFileUpload() {
        var self = app
        var inputId = "inputFileId"
        var type = "headerFile"
        self.fileUpload(inputId, type, function (url) {
            self.user.header = url
        })
    }

    var app = new Vue({
        el: '#app',
        data: {
            page: 1,
            size: 5,
            name: '',
            count: null,
            liType: 2,
            user: {
                id: null,
                name: null,
                pwd: null,
                header: null,
            },
            images: [],
            favorites: [],
            favPage: 1,
            favSize: 7,
            favCount: null,
            favorite: {
                id: null,
                name: null,
                description: null,
                url: null
            }
        },
        computed: {
            pages: function () {
                var pages = []
                var c = this.count % this.size
                if (c > 0) {
                    c = Math.ceil(this.count / this.size)
                } else {
                    c = this.count / this.size
                }
                for (var i = 0; i < c; i++) {
                    pages.push(i + 1)
                }
                return pages
            },
            favPages: function () {
                var favPages = []
                var c = this.favCount % this.favSize
                if (c > 0) {
                    c = Math.ceil(this.favCount / this.favSize)
                } else {
                    c = this.favCount / this.favSize
                }
                for (var i = 0; i < c; i++) {
                    favPages.push(i + 1)
                }
                return favPages
            },
        },
        methods: {
            submitImage: function (id) {
                $.ajax({
                    url: '/front/images/'+id+'/toApproval',
                    type: 'get',
                    success: function (result) {
                        if (result.code == 204) {
                            swal({
                                text: result.msg,
                                button: '确定',
                                icon: result.icon
                            }).then(function () {
                                app.images.forEach(function (value, n) {
                                    if (value.id == id) {
                                        value.status = 2
                                    }
                                })
                            })
                        } else {
                            swal({
                                text: result.msg,
                                button: '确定',
                                icon: result.icon
                            })
                        }
                    },
                    error: function (res) {
                        resErrorMsg(res)
                    }
                })
            },
            getStatus: function (image) {
                if (image.status == 1) {
                    return '草稿'
                }
                if (image.status == 2) {
                    return '待审核'
                }
                if (image.status == 3) {
                    return '审核通过'
                }
                if (image.status == 4) {
                    return '审核未通过'
                }
                if (image.status == 5) {
                    return '退回修改'
                }
            },
            initImage: function () {
                imgModal.image.id = null
                imgModal.image.name = null
                imgModal.image.description = null
                imgModal.image.showImage = null
                imgModal.image.fileUrl = null
                imgModal.image.type = ''
                imgModal.image.width = null
                imgModal.image.height = null
                imgModal.image.tag = 1
                imgModal.image.keys = ''
                imgModal.addKeys = []
                imgModal.image.pattern = ''
                $('#newImgModalId').modal('show')
                $.get('/front/categories', function (result) {
                    if (result) {
                        imgModal.categories = result
                    }
                })
                $.get('/front/selectKey', 'param=', function (result) {
                    imgModal.allKeys = result.keys
                })
            },
            delImage: function (id) {
                swal({
                    text: '确定删除吗？',
                    buttons: ['取消', '确定'],
                    icon: 'warning'
                }).then(function (value) {
                    if (value) {
                        $.ajax({
                            url: '/front/images/delete/' + id,
                            type: 'delete',
                            success: function (result) {
                                if (result.code == 204) {
                                    swal({
                                        text: result.msg,
                                        button: '确定',
                                        icon: result.icon
                                    }).then(function () {
                                        app.clickType(2)
                                    })
                                } else {
                                    swal({
                                        text: result.msg,
                                        button: '确定',
                                        icon: result.icon
                                    })
                                }
                            },
                            error: function (res) {
                                resErrorMsg(res)
                            }
                        })
                    }
                })
            },
            updateImage: function (id) {
                this.initImage()
                $.get('/front/image/' + id, function (image) {
                    if (image) {
                        imgModal.image.id = image.id
                        imgModal.image.name = image.name
                        imgModal.image.description = image.description
                        imgModal.image.showImage = image.showImage
                        imgModal.image.fileUrl = image.fileUrl
                        imgModal.image.type = image.type
                        imgModal.image.width = image.width
                        imgModal.image.height = image.height
                        imgModal.image.tag = image.tag
                        imgModal.image.keys = image.keys
                        imgModal.addKeys = image.keys.split("#")
                        imgModal.image.pattern = image.pattern
                        if (image.keys.indexOf("#") != -1) {
                            imgModal.addKeys.pop()
                            imgModal.addKeys.shift()
                        }
                        //console.log($('#keysId').val())
                        $('#keysId').val(imgModal.addKeys)
                        $('#keysId').trigger('change')
                    }
                })
            },
            addImage: function () {
                this.initImage()
            },
            addFav: function () {
                var self = this
                if (self.favorite.name) {
                    if (self.favorite.id) {
                        $.ajax({
                            url: '/front/p/favorites/' + self.favorite.id,
                            type: 'put',
                            data: $.param(self.favorite),
                            success: function (result) {
                                self.alert(result, 204, function () {
                                    self.favorites.forEach(function (value) {
                                        if (value.id == self.favorite.id) {
                                            value.name = self.favorite.name
                                            value.description = self.favorite.description
                                            value.url = self.favorite.url
                                        }
                                    })
                                    self.favorite.id = null
                                    self.favorite.name = null
                                    self.favorite.description = null
                                    self.favorite.url = null
                                    $("#newFavModalId").modal('hide')
                                })
                            },
                            error: function (res) {
                                resErrorMsg(res)
                            }
                        })
                    } else {
                        $.ajax({
                            url: '/front/p/favorites',
                            type: 'post',
                            data: $.param(self.favorite),
                            success: function (result) {
                                self.alert(result, 201, function () {
                                    self.favorites.push(result.favorite)
                                    self.favorite.name = null
                                    self.favorite.description = null
                                    self.favorite.url = null
                                    $("#newFavModalId").modal('hide')
                                })
                            },
                            error: function (res) {
                                resErrorMsg(res)
                            }
                        })
                    }
                } else {
                    swal({
                        text: '名称不能空！',
                        button: '确定',
                        icon: 'warning'
                    })
                }
            },
            alert: function (result, code, callBack) {
                if (result.code == code) {
                    swal({
                        text: result.msg,
                        button: '确定',
                        icon: result.icon
                    }).then(callBack)
                } else {
                    swal({
                        text: result.msg,
                        button: '确定',
                        icon: result.icon
                    })
                }
            },
            updateUser: function () {
                var self = this
                if (this.user.name && this.user.pwd) {
                    $('#submitId').button('loading')
                    $.ajax({
                        method: 'put',
                        url: '/front/update/' + self.user.id,
                        data: $.param(self.user),
                        dataType: 'json',
                        success: function (result) {
                            $('#submitId').button('reset')
                            swal({
                                text: result.msg,
                                button: '确认',
                                icon: result.icon
                            })
                        },
                        error: function (res) {
                            $('#submitId').button('reset')
                            resErrorMsg(res)
                        }
                    })
                } else {
                    swal({
                        text: '昵称或密码不能空！',
                        button: '确认',
                        icon: 'warning'
                    })
                }
            },
            updateFavorite: function (fav) {
                this.favorite.id = fav.id
                this.favorite.name = fav.name
                this.favorite.description = fav.description
                this.favorite.url = fav.url
                $("#newFavModalId").modal('show')
            },
            createFavorite: function () {
                this.favorite.id = null
                this.favorite.name = null
                this.favorite.description = null
                this.favorite.url = null
                $("#newFavModalId").modal('show')
            },
            fileUpload: function (inputId, type, callBack) {
                var self = this
                var size = getFileSize(document.getElementById(inputId))
                if (size > 0 && size < 10485760) {
                    $.ajaxFileUpload({
                        type: 'post',
                        secureuri: false,
                        url: '/file/upload',
                        dataType: 'json',
                        data: {type: type},
                        fileElementId: inputId,
                        success: function (data) {
                            if (data.code === 204) {
                                swal({
                                    text: data.msg,
                                    button: '确定',
                                    icon: 'success'
                                }).then(function () {
                                    callBack(data.url)
                                })
                            } else {
                                swal({
                                    text: data.msg,
                                    button: '确定',
                                    icon: 'warning'
                                })
                            }
                        },
                        error: function (res) {
                            resErrorMsg(res)
                        }
                    })
                } else {
                    if (size > 0) {
                        swal({
                            text: "图片大小不超过10M!",
                            button: '确定',
                            icon: 'warning'
                        })
                    }
                }
            },
            getLiType: function (type) {
                if (type === this.liType) {
                    return 'sidenav-list-item-action'
                }
            },
            clickType: function (type) {
                this.liType = type
                if (type == 2) {
                    this.getImages(this.page, this.size, this.name)
                }
            },
            getImages: function (page, size, name) {
                var self = this
                $.ajax({
                    url: '/front/lists?page=' + page + '&size=' + size + '&name=' + name,
                    type: 'get',
                    success: function (result) {
                        self.page = result.page
                        self.size = result.size
                        self.name = result.name
                        self.images = result.images
                        self.count = result.count

                    },
                    error: function (res) {
                        resErrorMsg(res)
                    }
                })
            },
            getFavorites: function (p, s) {
                this.initFavorites(p, s)
            },
            initFavorites: function (p, s) {
                $.get('/front/p/favorites?page=' + p + '&size=' + s,function (result) {
                    app.favorites = result.favorites
                    app.favPage = result.page
                    app.favSize = result.size
                    app.favCount = result.count
                })
            }
        },
        mounted: function () {
            this.initFavorites(this.favPage, this.favSize)
            if (loginUser) {
                this.user.id = loginUser.id
                this.user.name = loginUser.name
                this.user.pwd = loginUser.pwd
                this.user.header = loginUser.header
            }
            this.clickType(2)
        }
    })

    function resErrorMsg(res) {
        if (res.status == 403) {
            swal({
                text: '没有权限！',
                button: '确定',
                icon: 'warning'
            })
        }
        if (res.status == 400) {
            swal({
                text: '参数类型不匹配！',
                button: '确定',
                icon: 'warning'
            })
        }
        if (res.status == 500) {
            swal({
                text: '系统错误！',
                button: '确定',
                icon: 'error'
            })
        }
    }

    var imgModal = new Vue({
        el: '#newImgModalId',
        mixins: [vuelidate.validationMixin],
        data: {
            afterValidation: false,
            image: {
                id: null,
                name: null,
                description: null,
                showImage: null,
                fileUrl: null,
                type: '',
                width: null,
                height: null,
                tag: 1,
                keys: '',
                pattern: ''
            },
            addKeys: [],
            allKeys: [],
            categories: [],
            patterns: patterns
        },
        watch: {
            addKeys: function (newVal,oldVal) {
                this.image.keys = ''
                imgModal.addKeys.forEach(function (value) {
                    imgModal.image.keys += value + '#'
                })
                if (imgModal.image.keys) {
                    imgModal.image.keys = '#' + imgModal.image.keys
                }
            }
        },
        validations: {
            image: {
                name: {
                    required: validators.required
                },
                type: {
                    required: validators.required
                },
                tag: {
                    required: validators.required
                },
                width: {
                    required: validators.required
                },
                height: {
                    required: validators.required
                },
                showImage: {
                    required: validators.required
                },
                fileUrl: {
                    required: validators.required
                },
                keys: {
                    required: validators.required
                },
                pattern: {
                    required: validators.required
                }
            }
        },
        methods: {
            saveImage: function () {
                var self = this
                this.afterValidation = true
                if (!this.$v.$invalid) {
                    before();
                    if (self.image.id) {
                        $.ajax({
                            method: 'put',
                            url: '/front/images/update/' + self.image.id,
                            data: $.param(self.image),
                            dataType: 'json',
                            success: function (result) {
                                after();
                                self.afterValidation = false;
                                if (result.code == 204) {
                                    swal({
                                        text: result.msg,
                                        button: '确认',
                                        icon: 'success'
                                    }).then(function () {
                                        app.images.forEach(function (value, n) {
                                            if (value.id == self.image.id) {
                                                value.name = self.image.name
                                                value.description = self.image.description
                                                value.showImage = self.image.showImage
                                                value.fileUrl = self.image.fileUrl
                                                value.type = self.image.type
                                                value.width = self.image.width
                                                value.height = self.image.height
                                                value.tag = self.image.tag
                                                value.keys = self.image.keys
                                            }
                                        })
                                        $('#newImgModalId').modal('hide')
                                    })
                                } else {
                                    swal({
                                        text: result.msg,
                                        button: '确认',
                                        icon: result.icon
                                    })
                                }
                            },
                            error: function (res) {
                                after();
                                //console.log(res)
                                resErrorMsg(res)
                            }
                        })
                    } else {
                        $.ajax({
                            method: 'post',
                            url: '/front/images/add',
                            data: $.param(self.image),
                            dataType: 'json',
                            success: function (result) {
                                after();
                                self.afterValidation = false;
                                if (result.code == 201) {
                                    swal({
                                        text: result.msg,
                                        button: '确认',
                                        icon: 'success'
                                    }).then(function () {
                                        app.images.push(result.image)
                                        $('#newImgModalId').modal('hide')
                                        app.clickType(2)
                                    })
                                } else {
                                    swal({
                                        text: result.msg,
                                        button: '确认',
                                        icon: result.icon
                                    })
                                }
                            },
                            error: function (res) {
                                after();
                                //console.log(res)
                                resErrorMsg(res)
                            }
                        })
                    }
                }
            },
            fileUpload1: function () {
                var self = this
                var inputId = "inputFileId3"
                var size = getFileSize(document.getElementById(inputId))
                //var param = {articleId: self.article.id}
                /* if (!self.article.id) {
                     param = null
                 }*/
                if (size > 0 && size < 10485760) {
                    $.ajaxFileUpload({
                        type: 'post',
                        secureuri: false,
                        url: '/front/addImgUrl',
                        dataType: 'json',
                        // data: param,
                        fileElementId: inputId,
                        success: function (data) {
                            if (data.code === 204) {
                                swal({
                                    text: data.msg,
                                    button: '确定',
                                    icon: 'success'
                                }).then(function () {
                                    self.image.fileUrl = data.url
                                })
                            } else {
                                swal({
                                    text: data.msg,
                                    button: '确定',
                                    icon: 'warning'
                                })
                            }
                        },
                        error: function (res) {
                            //console.log(res)
                            resErrorMsg(res)
                        }
                    })
                } else {
                    if (size > 0) {
                        swal({
                            text: "图片大小不超过10M!",
                            button: '确定',
                            icon: 'warning'
                        })
                    }
                }
            },
            fileUpload: function () {
                var self = this
                var inputId = "inputFileId2"
                var size = getFileSize(document.getElementById(inputId))
                //var param = {articleId: self.article.id}
                /* if (!self.article.id) {
                     param = null
                 }*/
                if (size > 0 && size < 10485760) {
                    $.ajaxFileUpload({
                        type: 'post',
                        secureuri: false,
                        url: '/front/addImgUrl',
                        dataType: 'json',
                        // data: param,
                        fileElementId: inputId,
                        success: function (data) {
                            if (data.code === 204) {
                                swal({
                                    text: data.msg,
                                    button: '确定',
                                    icon: 'success'
                                }).then(function () {
                                    self.image.showImage = data.url
                                })
                            } else {
                                swal({
                                    text: data.msg,
                                    button: '确定',
                                    icon: 'warning'
                                })
                            }
                        },
                        error: function (res) {
                            //console.log(res)
                            resErrorMsg(res)
                        }
                    })
                } else {
                    if (size > 0) {
                        swal({
                            text: "图片大小不超过10M!",
                            button: '确定',
                            icon: 'warning'
                        })
                    }
                }
            },
            validationClass: function (fieldName) {
                if (fieldName.indexOf(',')!=-1) {
                    if (this.$v.image[fieldName.split(',')[0]].$invalid && this.afterValidation) {
                        return 'has-error'
                    }
                    if (this.$v.image[fieldName.split(',')[1]].$invalid && this.afterValidation) {
                        return 'has-error'
                    }
                } else {
                    const field = this.$v.image[fieldName]
                    if (field) {
                        return {
                            'has-error': field.$invalid && this.afterValidation
                        }
                    }
                }
            }
        },

    })

    function before() {
        $('button[type=submit]').button('loading');
    }

    function after() {
        $('button[type=submit]').button('reset');
    }

    $(function () {
        $('#keysId').select2({
            tags: true,
            tokenSeparators: ['，', ''],
        });
        $('#keysId').change(function () {
            imgModal.addKeys = $('#keysId').val()
        });
    })

    $.fn.modal.Constructor.prototype.enforceFocus = function () {};
    /*]]>*/
</script>
</body>
</html>